{% extends "menubar.html" %}

{% block TITLE %}Temboz - Feed details{% endblock %}
{% block BODYOPTIONS %} class="unpadded"{% endblock %}
{% block EXTRAHEAD %}
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
<script language="JavaScript" src="/static/temboz.js"></script>
<script src="/static/simple-datatables.js"></script>
<link href="/static/datatables.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block CONTENT %}
<table class="feeds">
  <thead class="fixed">
    <tr class="header">
      <th>Feed</th>
      <th align="right">Modified</th>
      <th align="right">Unread</th>
      <th align="right">Filtered</th>
      <th align="right">Interesting</th>
      <th align="right">SNR</th>
      <th align="right">Total</th>
      <th>Actions</th>
  </thead>
  <tbody>
{# ########################################################################
##   Loop over feeds
#}
{% for (index, row) in feeds.iter().enumerate() %}
    <tr valign="top">
      <td>
        <a href="{{ row.html }}">{{ row.title }}</a>&nbsp;&nbsp;
        <a{% if row.errors > 10 %} class="error"{% else if row.errors > 0 %} class="small-error"{% endif %} href="{{ row.xml }}">(XML)</a>
        <a href="feed/{{ row.uid }}">(details)</a>
      </td>
      <td nowrap align="right">{{ row.last_modified }}</td>
      <td nowrap align="right">
        <a href="view?feed_uid={{ row.uid }}&show=unread">{{ row.unread }}</a>
      </td>
      <td nowrap align="right">
        <a href="view?feed_uid={{ row.uid }}&show=filtered">{{ row.filtered }}</a>
      </td>
      <td nowrap align="right">
        <a href="view?feed_uid={{ row.uid }}&show=up">{{ row.interesting }}</a>
      </td>
      <td nowrap align="right">{{ (row.snr * 100.0) as i32 }}%</td>
      <td nowrap align="right">
        <a href="view?feed_uid={{ row.uid }}&show=all">{{ row.total }}</a>
      </td>
      <td nowrap>
  {% if row.unread > 0 %}
        <a href="/feed/{{ row.uid }}/catchup?back=/feeds">catch up</a>
  {% endif %}
      </td>
    </tr>
{% endfor %}
  </tbody>
  <tfoot>
    <tr class="footer">
      <td>Total</td>
      <td></td>
      <td align="right">{{ sum_unread }}</td>
      <td align="right">{{ sum_filtered }}</td>
      <td align="right">{{ sum_interesting }}</td>
      <td></td>
      <td align="right">{{ sum_total }}</td>
      <td></td>
    </tr>
  </tfoot>
</table>
<script type="module">
  const dataTable = new simpleDatatables.DataTable("table.feeds", {
    searchable: true,
    perPage: 25,
    perPageSelect: [5, 10, 25, 50, 100, 200, 400, ["All", 0]],
    firstText: "FIRST &#9197;",
    lastText: "LAST &#9198;",
    columns: [
      {
        select: [2, 3, 4, 5, 6],
        sortSequence: ["desc", "asc"]
      },
      {
        select: 7,
        sortable: false
      }
    ]
  });
</script>
{% endblock %}
